<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>Product</title>
</head>
<body>
    <div class="product">
        <h1>Name: <%= product.name %></h1>
        <h2>Count: <%= product.count %></h2>
        <h4>Company: <%= product.company %></h4>
        <h2>Category: <%= product.category %></h2>
        <form action="/delete" method="post">
            <input type="number" hidden name="id" value=<%= product.id %>>
            <button>Edit</button>
            <button>Delete</button>
        </form>
    </div>
</body>
</html>